@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 4vw 4vw;
  font-family: "Poppins", sans-serif;
  background-color: white;
  /* font-size: 1vw; */
}
#root {
  --grid-layout-gap: 10px;
  --grid-column-count: 4; /* This gets overridden by an inline style. */
  --grid-item--min-width: 350px; /* This gets overridden by an inline style. */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );

  gap: 2vw 2vw;
}

.containerHeader > h1 {
  font-size: 2vw;
  line-height: 0.5em;
  text-align: center;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
}
.containerHeader > p {
  font-size: 1vw;
  line-height: 0.5em;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#inputSearch,
#listOfEpisodes {
  height: 2vw;
  font-size: 1vw;
}

.labelInputSearch {
  width: 100px;
  font-size: 1vw;
  /* background-color: brown; */
}
.nameEpisode {
  /* border: 3px solid green; */
  text-align: center;
  margin: 20px 20px;
  font-size: 1em;
  /* background-color: #878b9d; */
  padding: 20px 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.containerEpisode {
  /* border: 3px solid rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.image {
  width: 50%;
  align-self: center;
}

.nameEpisode {
  font-size: 1.5vw;
}
.summary {
  padding: 20px 20px;
  color: rgb(39, 5, 5);
  font-size: 1.2em;
  text-align: justify;
  /* border: 10px solid red; */
}

#inputSearch {
  font-size: 1vw;
  margin-left: 1em;
}
.containerEpisode:hover {
  background-color: rgb(193, 191, 191);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
