@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 4vw 4vw;
  font-family: "Poppins", sans-serif;
  background-color: white;
  /* font-size: 1vw; */
}
#root {
  --grid-layout-gap: 10px;
  --grid-column-count: 4; /* This gets overridden by an inline style. */
  --grid-item--min-width: 350px; /* This gets overridden by an inline style. */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );

  gap: 2vw 2vw;
}

.containerHeader > h1 {
  font-size: 3vw;
  line-height: 0.5em;
  text-align: center;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  /* border-radius: 80px; */
}
.containerHeader > p {
  font-size: 1vw;
  line-height: 0.5em;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#inputSearch,
#listOfEpisodes,
#listOfAllShows,
#inputShows {
  height: 2vw;
  font-size: 1vw;
}

.labelInputSearch,
.labelAllShows,
.labelListOfEpisodes,
.labelInputShows {
  width: 100px;
  font-size: 1vw;
  padding-left: 2em;
  /* background-color: brown; */
}
.resetButton {
  font-size: 1em;
  padding: 0.5em;
  margin-left: 1em;
  float: right;
}
.nameEpisode,
.nameShow {
  /* border: 3px solid green; */
  text-align: center;
  margin: 20px 20px;
  font-size: 1.3em;
  /* background-color: #878b9d; */
  padding: 20px 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 20px;
}
.containerEpisode,
.containerShow {
  /* border: 3px solid rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 20px;
}

.containerShow:hover {
  cursor: pointer;
  background-color: rgb(185, 185, 185);
}
.detailsShow {
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  /* border-radius: 20px; */
  background-color: rgb(188, 188, 190);
  display: grid;
}

/* ul > li {
  display: inline;
} */

ul > li {
  /* display: inline-block; */
  list-style: none;
}

.image {
  width: 50%;
  align-self: center;
  border-radius: 20px;
  box-shadow: rgba(224, 224, 224, 0.4) 5px 5px,
    rgba(110, 110, 110, 0.3) 10px 10px, rgba(150, 150, 150, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px, rgba(54, 54, 54, 0.05) 25px 25px;
}

.summary {
  padding: 20px 20px;
  font-size: 0.8em;
  text-align: justify;
  /* border: 10px solid red; */
}

#inputSearch {
  font-size: 1vw;
  margin-left: 1em;
}
.containerEpisode:hover {
  background-color: rgb(193, 191, 191);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
